.container {
  min-width: 250px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  aspect-ratio: 0.5;
  border: var(--border);

  --border: solid black 1px;
  --padding: 5%;
  --cart-w: calc(100% - var(--gap) * 2 - var(--svg-w) * 2);
  --svg-w: 12%;
  --gap: 5%;
}

.img_container {
  width: inherit;
  img {
    width: inherit;
  }
}

.text_container {
  padding: var(--padding);
  display: grid;
  gap: var(--gap);
  .title {
    text-align: center;
  }
  .text {
  }
}

.btn_container {
  display: flex;
  padding: var(--padding);
  gap: var(--gap);
  margin-top: auto;
  button {
    cursor: pointer;
  }
  .cart {
    text-transform: uppercase;
    padding: var(--padding);
    width: var(--cart-w);
    border: var(--border);
  }
  .favorite {
  }
  .compare {
  }

  .favorite,
  .compare {
    width: var(--svg-w);
  }
}
